<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>

        style
            include Pug+MongoDB-Results.css
    </head>
    <body>


        <div id="FirstName" >
            <h1> <u> FirstName</u> </h1> 
            <h3 >#{FirstName}</h3>

        </div>

        <div id="LastName" >
            <h1> <u> LastName</u> </h1> 
            <h3 >#{LastName}</h3>

        </div>

        <div id="Email" >
            <h1> <u> Email</u> </h1> 
            <h3 >#{Email}</h3>

        </div>

        <div id="Age" >
            <h1> <u> Age</u> </h1> 
            <h3 >#{Age}</h3>

        </div>

        <div id="Aspects" >
            <h1> <u> Aspects</u> </h1> 
            <h3 >#{Aspects}</h3>

        </div>

    </body>
</html>